
.top-left{
    background-color:blueviolet;
    height:400px;
    
}
.top-left2{
    background-color:brown;
    height:200px;
}
.top-right{
    background-color:aqua;
    
    height:225px;
}
.top-right2{
    background-color:cornflowerblue;
    height:375px;
}
.mid-left{
    background-color:darkorange;
    height:300px;
}
.mid-right{
    background-color:coral;
    height:400px;
}
.mid-right2{
    background-color:darkcyan;
    height:200px;
}
.footer{
    background-color:darksalmon;
    height:auto;
    margin-top:10px;
}
.pad{
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
}
.container{
    padding-right:5px;
    padding-left:5px;
    
}